/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}
.red1 { 
  width: 100%; 
  height: 100px; 
  background-color: red;
  grid-column: 1/3; 

} 
.green1 {
  width: 200px; 
  height: 200px; 
  background-color: green; 

} 
.yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 
.blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue;
  grid-column: 1/3;
} 
/* Activity 2 styles */ 
.content2 {
  position: relative;
  margin: 40px;
  width: 300px;
  height: 300px;
}
.red2,.green2,.yellow2,.blue2 {
  position: absolute;
  width: 100px;
  height: 100px;
}
.red2 {
  background-color: red;
  bottom: 180px;
  right: 180px;
} 
.green2 { 
  background-color: green;
  bottom: 120px;
  right: 120px; 
} 
.yellow2 {
  background-color: gold;
  bottom: 60px;
  right: 60px;
} 
.blue2 {
  background-color: blue;
  bottom: 0;
  right: 0;
} 
/* Activity 3 styles */ 
.content3 {
  display: grid;
  grid-template-columns: 300px 15px 300px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 15px;
}
.red3 { 
  height: 100px; 
  background-color: red;
  grid-column: 1/4; 
} 
.green3 {
  height: 100px; 
  background-color: green;
  grid-column: 1;
} 
.yellow3 { 
  height: 100px; 
  background-color: gold;
  grid-column: 3;
} 
.blue3 {
  height: 100px; 
  background-color: blue;
  grid-column: 1/4;
} 
/* Activity 4 styles */ 
.content4 {
  display: grid;
  height: 400px;
  grid-template-columns: 325px 325px;
  grid-template-rows: 100px 100px 100px;
  gap: 0;
}
.red4 {
  background-color: red;
  grid-column: 1;
  grid-row: 1/4;
} 
.green4 {
  height: 100px; 
  background-color: green;
  grid-column: 2;
  grid-row: 1;
} 
.yellow4 {
  height: 100px; 
  background-color: gold;
  grid-column: 2;
  grid-row: 2;
} 
.blue4 {
  height: 100px; 
  background-color: blue;
  grid-column: 2;
  grid-row: 3; 
} 
/* Activity 5 styles */ 
.content5 {
  width: 100%;
  overflow: hidden;
}

.red5, .blue5 {
  height: 100px;
}

.red5 {
  background-color: red;
}

.blue5 {
  background-color: blue;
}

.green5 {
  float: left;
  width: 140px;
  height: 140px;
  background-color: green;
  margin: 0 15px 10px 0; 
}

.yellow5 {
  background-color: gold;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}
/* Activity 6 styles */ 
.content6 {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 100px);
  width: 600px;
  height: 600px;
  position: relative;
}

.red6 {
  background-color: red;
  width: 400px;
  height: 200px;
  grid-column: 1 / 4;
  grid-row: 1 / 4;  
  z-index: 1;
}

.blue6 {
  background-color: blue;
  width: 400px;
  height: 400px;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  z-index: 2;
}

.green6 {
  background-color: green;
  width: 200px;
  height: 200px;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  z-index: 3;
}

.yellow6 {
  background-color: gold;
  width: 200px;
  height: 400px;
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  z-index: 3;
}

/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}